4coder_app_links_allocator.cpp
4coder_async_tasks.cpp
4coder_async_tasks.h
4coder_audio.cpp
4coder_audio.h
4coder_auto_indent.cpp
4coder_auto_indent.h
4coder_base_commands.cpp
4coder_base_types.cpp
4coder_base_types.h
4coder_buffer_seek_constructors.cpp
4coder_build_commands.cpp
4coder_build_commands.h
4coder_cli_command.cpp
4coder_clipboard.cpp
4coder_clipboard.h
4coder_code_index.cpp
4coder_code_index.h
4coder_code_index_listers.cpp
4coder_codepoint_map.cpp
4coder_combined_write_commands.cpp
4coder_combined_write_commands.h
4coder_command_map.cpp
4coder_command_map.h
4coder_config.cpp
4coder_config.h
4coder_config_grammar.txt
4coder_custom.cpp
4coder_default_colors.cpp
4coder_default_colors.h
4coder_default_framework.cpp
4coder_default_framework.h
4coder_default_framework_variables.cpp
4coder_default_hooks.cpp
4coder_default_include.cpp
4coder_default_map.cpp
4coder_delta_rule.cpp
4coder_delta_rule.h
4coder_doc_commands.cpp
4coder_doc_content_types.cpp
4coder_doc_content_types.h
4coder_docs.cpp
4coder_draw.cpp
4coder_draw.h
4coder_dynamic_bindings.cpp
4coder_eol.cpp
4coder_events.cpp
4coder_events.h
4coder_examples.cpp
4coder_fancy.cpp
4coder_file.cpp
4coder_file.h
4coder_file_moving.h
4coder_font_helper.cpp
4coder_function_list.cpp
4coder_function_list.h
4coder_hash_functions.cpp
4coder_helper.cpp
4coder_helper.h
4coder_insertion.cpp
4coder_insertion.h
4coder_jump_lister.cpp
4coder_jump_lister.h
4coder_jump_sticky.cpp
4coder_jump_sticky.h
4coder_jumping.cpp
4coder_jumping.h
4coder_keyboard_macro.cpp
4coder_layout.cpp
4coder_layout_rule.cpp
4coder_layout_rule.h
4coder_lister_base.cpp
4coder_lister_base.h
4coder_lists.cpp
4coder_log.cpp
4coder_log_parser.cpp
4coder_log_parser.h
4coder_mac_map.cpp
4coder_malloc_allocator.cpp
4coder_metadata_generator.cpp
4coder_miblo_numbers.cpp
4coder_prj_v1.cpp
4coder_prj_v1.h
4coder_profile.cpp
4coder_profile.h
4coder_profile_inspect.cpp
4coder_profile_inspect.h
4coder_profile_static_disable.cpp
4coder_profile_static_enable.cpp
4coder_project_commands.cpp
4coder_project_commands.h
4coder_scope_commands.cpp
4coder_scope_commands.h
4coder_search.cpp
4coder_search.h
4coder_search_list.cpp
4coder_search_list.h
4coder_string_match.cpp
4coder_string_match.h
4coder_stringf.cpp
4coder_system_allocator.cpp
4coder_system_helpers.cpp
4coder_system_types.h
4coder_table.cpp
4coder_table.h
4coder_token.cpp
4coder_token.h
4coder_tutorial.cpp
4coder_tutorial.h
4coder_types.h
4coder_variables.cpp
4coder_variables.h
4coder_version.h
bin/
generated/
languages/
lexer_generator/